link(href='../dist/gridfolio.css', rel='stylesheet')
|     
link(href='../stylesheets/themes/gridfolio-textures.css', rel='stylesheet')
|     
link(href='../stylesheets/themes/gridfolio-classic.css', rel='stylesheet')
|     
link(href='../stylesheets/themes/gridfolio-warhol.css', rel='stylesheet')
|     
link(href='../stylesheets/themes/gridfolio-circular.css', rel='stylesheet')
|     
link(href='../stylesheets/themes/gridfolio-brutalist.css', rel='stylesheet')
|
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=', crossorigin='anonymous')
|
script(src='../dist/gridfolio.js')
script(src='../routes/gallery.js')



#gridfolio--container
