extends layout

block content
  .animsition-overlay
    #section-1
      div#particles
        div#intro
          .hero
            img#tilogo(src='img/logo.svg', alt='logo')
            .social-btn-container
              span.social-btn-box
                a.google-plus-btn(href='#')
                  i.fa.fa-google-plus
              // /.social-btn-box
              span.social-btn-box
                a.facebook-btn(href='#')
                  i.fa.fa-facebook
              // /.social-btn-box
              span.social-btn-box
                a.twitter-btn(href='#')
                  i.fa.fa-twitter
              // /.social-btn-box
              span.social-btn-box
                a.linkedin-btn(href='#')
                  i.fa.fa-linkedin
              // /.social-btn-box
              span.social-btn-box
                a.youtube-btn(href='#')
                  i.fa.fa-youtube
              // /.social-btn-box
            // /.social-btn-container
            .fixbottarro
              a.scroll(href='#section-2') Scroll for more
          // /.hero
    // END #section-1
    #section-2
      .grid
        .col_12
          h2.title-2
            span#section3_feature.wow.fadeInUp(data-wow-duration='2s' ) Featured Product
        // END col_12
      // END .GRID
      .grid.flex
        .row#section2_content_wrapper
          .colw_6.wow.zoomIn
            .wrapimg.hack960
              .pic
                img.pic-image.full-width(src='images/homeimg.jpg', alt='Pic')
                .pic-caption.top-to-bottom
                  h4.pic-title Product Name
            // END wrapimg
          // END col_6
          .colw_6
            .box66
              .wrap.icon
                i.fa.fa-cog.fa-spin
                i.fa.fa-spin-reverse.fa-cog
                i.fa.fa-cog.fa-spin
              h3.center.wow.fadeInDown(data-wow-duration='0.5s', data-wow-delay='0.5s') About Twin Image Design
              p
                | We are a product development and industrial design consulting firm. We are a testing ground for new and exciting ideas, technologies, and materials. We provide a full range of product development services. We are dedicated to designing breakthrough projects, that drive sales and business growth.
              p
                | Our designs provide identity, awareness, excitement, and experiences that differentiate our clients from their competition.
              p
                | Through designing projects we create new and exciting market opportunities that provide leadership, brand loyalty, and positioning.
            // END box66
          // END col_6
        // END row
      // End GRID FLEX
    // END #section-2
    #section-3.backimg
      .bghover.wow.fadeInUp(data-wow-duration='1.5s', data-wow-delay='0s')
        .row.paddtop5
          h3.paraw.wow.fadeInUpBig(data-wow-duration='2s', data-wow-delay='0s') Our Services
          .col_4.bghwhite.column2.wow.zoomIn(data-wow-delay='.7s')
            .colw_2.alomdebe.vito
              .iconfullbox.lightblue.column2
                .iconfull
                  i.fa.fa-search.fa-2x(aria-hidden='true')
                // END iconfull
              // END iconfullbox
            // END colw_4
            .colw_10.padd5555.alomdebe.reladiv
              a(href='http://')
                h5.title0 Reserach
              a(href='http://')
                h5.title0 Brainstorming
              a(href='http://')
                h5.title0 Data Collection
              a(href='http://')
                h5.title0 Foucus Groups
              a(href='http://')
                h5.title0 Field Studies
            // END col_10
          // END col_4
          .col_4.bghwhite.column2.wow.zoomIn(data-wow-delay='0s')
            .colw_2.alomdebe.vito
              .iconfullbox.purple.column2
                .iconfull
                  i.fa.fa-paint-brush.fa-2x(aria-hidden='true')
                // END iconfull
              // END iconfullbox
            // END colw_4
            .colw_10.padd5555.alomdebe
              a(href='http://')
                h5.title0 Industrial Design
              a(href='http://')
                h5.title0 Concept Development
            // END col_10
          // END col_4
          .col_4.bghwhite.column2.wow.zoomIn(data-wow-delay='0s')
            .colw_2.alomdebe.vito
              .iconfullbox.pictonblue.column2
                .iconfull
                  i.fa.fa-cog.fa-2x(aria-hidden='true')
                // END iconfull
              // END iconfullbox
            // END colw_4
            .colw_10.padd5555.alomdebe
              a(href='http://')
                h5.title0 CAD & Engineering
              a(href='http://')
                h5.title0 Surface & Solid Modeling
              a(href='http://')
                h5.title0 Engineering and Tooling Files
              a(href='http://')
                h5.title0 Recerse Enginnering
              a(href='http://')
                h5.title0 Fea Analysis / Mode Flow
              a(href='http://')
                h5.title0 Structural Component
              a(href='http://')
                h5.title0 Analysis
              a(href='http://')
                h5.title0 Cost Reduction
            // END col_10
          // END col_4
        // END row
        .row#section3_row2
          .col_4.bghwhite.column2.wow.zoomIn(data-wow-delay='0s')
            .colw_2.alomdebe.vito
              .iconfullbox.pink7.column2
                .iconfull
                  i.fa.fa-male.fa-2x
                // END iconfull
              // END iconfullbox
            // END colw_4
            .colw_10.padd5555.alomdebe
              a(href='http://')
                h5.title0 Human Factors and Ergonomic Analysis
            // END col_10
          // END col_4
          .col_4.bghwhite.column2.wow.zoomIn(data-wow-delay='0s')
            .colw_2.alomdebe.vito
              .iconfullbox.indigo.column2
                .iconfull
                  i.fa.fa-desktop.fa-2x
                // END iconfull
              // END iconfullbox
            // END colw_4
            .colw_10.padd5555.alomdebe
              a(href='http://')
                h5.title0 Graphic & Communication Design
              a(href='http://')
                h5.title0 Logo / Identity Development
              a(href='http://')
                h5.title0 Packaging Design Layout
            // END col_10
          // END col_4
          .col_4.bghwhite.column2.wow.zoomIn(data-wow-delay='0s')
            .colw_2.alomdebe.vito
              .iconfullbox.pink.column2
                .iconfull
                  i.fa.fa-cubes.fa-2x
                // END iconfull
              // END iconfullbox
            // END colw_4
            .colw_10.padd5555.alomdebe
              a(href='http://')
                h5.title0 Rapid Prototyping
              a(href='http://')
                h5.title0 5 Axis CNC
              a(href='http://')
                h5.title0 Polyjet
              a(href='http://')
                h5.title0 Urethane Casting
              a(href='http://')
                h5.title0 Laser Cutting
            // END col_10
          // END col_4
        // END row
          
      // END bghover
    // END #section-3
    #section-4
    div#particles
      div#intro
      .grid.flex
        h4.title-4 What our clients say
        article
          .absomid-cbp.white7.corner
            #cbp-qtrotator.cbp-qtrotator
              .cbp-qtcontent
                blockquote
                  p If you don’t drive your business, you will be driven out of business.
                  footer B. C. Forbes
              .cbp-qtcontent
                blockquote
                  p
                    | It’s fine to celebrate success but it is more important to heed the lessons of failure.
                  footer Bill Gates
              .cbp-qtcontent
                blockquote
                  p Innovation distinguishes between a leader and a follower.
                  footer Steve Jobs
              .cbp-qtcontent
                blockquote
                  p But you have to do what you dream of doing even while you’re afraid.
                  footer Arianna Huffington
          // END absomid
        .row
          .owl50
            h5.title-5.wow.fadeInUp(data-wow-duration='1s') Our Partners
          #owl-partners.owl-carousel
            a(href='http://www.ka-chingglobalsourcing.com/')
              img.blackwhiteimg(src='img/1.jpg', alt='web dizajn Istra', style='width:240px;height:66px;')
            a(href='http://drivegolfstore.com/')
              img.blackwhiteimg(src='img/2.jpg', alt='web dizajn Istra', style='width:240px;height:66px;')
            a(href='https://www.polyplab.com/')
              img.blackwhiteimg(src='img/3.jpg', style='width:240px;height:66px;', alt='web dizajn Istra')
            a(href='http://www.lumin-lighting.com/')
              img.blackwhiteimg(src='img/4.jpg', alt='web dizajn Istra', style='width:240px;height:66px;')
          // END #owl-partners .owl-carousel
        // END 0wl50
      // END row
    // END .GRID FLEX
  // END #section-3
  #section-5
    #section-credits
      
    // END #section-credits
  // END .animsition-overla
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='javascripts/jquery.particleground.js')  
  script(src='javascripts/myparticles.js')  
  script(type='text/javascript', src='javascripts/jquery.matchHeight-min.js')
  script(src='javascripts/wow.min.js')
  script(src='javascripts/animsition.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
  script(src='javascripts/jquery.parallax-scroll.js')
  script(src='javascripts/owl.carousel.min.js')
  script(src='javascripts/jquery.cbpQTRotator.min.js')
  script.
    $(document).ready(function() {
    $("#owl-partners").owlCarousel({
    autoPlay: 4000,
    stopOnHover : true,
    pagination : false,
    items : 5,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [959,3]
    });
    });
  script.
    $( function() {
    $( '#cbp-qtrotator' ).cbpQTRotator();
    });
  script(src='javascripts/functions.js')
  script(type='text/javascript').
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15815880-3']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
